<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <div class="dim-layer">
      <div class="box">
        <div class="img-box">
          <!-- 앞에 / 안써도 되지만 쓰는게 절대경로에 좋음 -->
          <img src="/<%= file.path %>" />
        </div>
        <p><%= userInfo.id %>님 환영합니다!</p>
        <ul>
          <li>비밀번호: <%= userInfo.pw %></li>
          <li>이름: <%= userInfo.name %></li>
          <li>나이: <%= userInfo.age %></li>
        </ul>
      </div>
    </div>
  </body>
</html>
